body {
  font-family: "Red Hat Display", sans-serif;
  width: auto;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
}

h1 {
  font-size: 22px;
  color: hsl(223, 47%, 23%);
}

h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
}

p {
  margin: 0;
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}

.order {
  width: 325px;
  min-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-image {
  width: 325px;
  height: 158.88px;
  margin: 0;
}

#head-img {
  max-width: 100%;
  min-width: 325px;
  width: 325px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.container {
  width: 100%;
  min-width: 325px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container-header {
  margin: 35px 0 0 0;
}

.container-p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 30px 0 30px;
  line-height: 1.5;
  text-align: center;
}

.order-plan {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  padding: 15px 7px;
  border-radius: 10px;
  margin-top: 20px;
}

.order-detail {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  font-weight: 500;
}

.change {
  font-size: 12px;
  font-weight: bold;
}

.change:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  background: #3829e0;
  padding: 15px 60px 15px 60px;
  border: solid #3829e0 0px;
  text-decoration: none;
  margin-top: 30px;
  box-shadow: 0px 10px 28px -13px #6f67e0;
}

.btn:hover {
  background: #6f67e0;
  text-decoration: none;
}

.cancel-btn {
  margin: 25px 0 30px;
  font-size: 15px;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
}

.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  position: absolute;
  bottom: 5px;
}

@media (min-width: 460px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .order {
    width: 450px;
  }

  .head-image {
    width: 100%;
    height: 220px;
    margin: 0;
  }

  #head-img {
    max-width: 100%;
    min-width: 325px;
    width: auto;
    height: auto;
  }

  h1 {
    font-size: 27px;
    font-weight: 900;
  }

  .container-header {
    margin-top: 45px;
  }

  .container-p {
    margin-left: 75px;
    margin-right: 75px;
    font-weight: 500;
    line-height: 1.6;
  }

  .order-plan {
    width: 75%;
    padding: 25px 5px;
    margin-top: 25px;
  }

  h3 {
    font-size: 17px;
    font-weight: 900;
  }

  .price {
    font-size: 17px;
  }

  .order-detail {
    position: relative;
    right: 20px;
  }

  .change {
    font-size: 14px;
  }

  .btn {
    padding: 15px 95px 15px 95px;
  }

  .cancel-btn {
    margin-bottom: 50px;
    margin-top: 30px;
  }
}
